{% extends 'base.html.twig'%}
{% block body %}
 

 <h1>User N° : {{user.id}}</h1>
<h1>Name :{{user.FirstName}}</h1>
<h1>{{user.LastName}}</h1>

  

{% for key, user in users %}

<h1>Message N° : {{key}}</h1>
<h1>Message :{{Message.title}}</h1>


{% endfor %}

{% endblock %}